# Importing Packages

In [1]:
import numpy as np
import pandas as pd

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize


from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

# Importing Dataset

In [2]:
df = pd.read_csv('news.csv')

C:\Users\mehul\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.columns

Index(['Unnamed: 0', 'title', 'text', 'label', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       ...
       'Unnamed: 131', 'Unnamed: 132', 'Unnamed: 133', 'Unnamed: 134',
       'Unnamed: 135', 'Unnamed: 136', 'Unnamed: 137', 'Unnamed: 138',
       'Unnamed: 139', 'Unnamed: 140'],
      dtype='object', length=141)

# Data Pre-Processing

In [4]:
df.describe()

,Unnamed: 0,title,text,label,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140
count,7576,7185,6929,6755,318,241,179,133,91,65,...,1,1,1,1,1,1,1,1,1,1
unique,7519,7085,6644,437,315,241,179,133,91,65,...,1,1,1,1,1,1,1,1,1,1
top,#NAME?,REAL,"Killing Obama administration rules, dismantlin...",REAL,etc.,Canada wins that round as well.,down into the Arab residential areas,Pompey would march his legions through the ga...,“lift”,as well as in the proposed Jewish State,...,rather than acting out of a sober evaluation ...,but to me,more and more,the whole shooting match seems to come down t...,if one could discredit the idea of American e...,then it becomes much easier to have a serious...,a presidential candidate,a senator can stand behind the podium and mak...,it just seems that undertaking a serious crit...,REAL
freq,28,5,58,3161,3,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [5]:
df.shape

(7795, 141)

In [6]:
df.isna()

,Unnamed: 0,title,text,label,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140
0,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7790,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7791,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7792,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7793,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7794,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [7]:
df = df[['title', 'text', 'label']]

In [8]:
df.shape

(7795, 3)

In [9]:
df.isna()

      title   text  label
0     False  False  False
1     False  False  False
2     False  False  False
3     False  False  False
4     False  False  False
...     ...    ...    ...
7790  False  False  False
7791  False  False  False
7792  False  False  False
7793  False  False  False
7794  False  False  False

[7795 rows x 3 columns]

In [10]:
df = df.dropna()

In [11]:
df.shape

(6754, 3)

# NLP Data Pre-Processing

In [12]:
list_of_stopwords = list(stopwords.words('english'))

In [16]:
clean_text_main = []
for i in range(df.shape[0]):
    text_message = df['title'].values[i]
    tokenized_word = word_tokenize(text_message)
    clean_text = ''
    for word in tokenized_word:
        if not word in list_of_stopwords:
            clean_text += word + ' '
    clean_text_main.append(clean_text)
len(clean_text_main)

6754

In [17]:
df['clean_text'] = clean_text_main

# Data Split for model trainning

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
sparse_matrix = cv.fit_transform(df['clean_text'])

In [19]:
le = LabelEncoder()
df['label_main'] = le.fit_transform(df['label'])

# Train-Test Split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(sparse_matrix, df['label_main'], random_state=0, train_size=0.8)

# Model Trainning

In [21]:
model = MultinomialNB()
model.fit(X_train, y_train)

MultinomialNB()

# Model Evaluation

In [22]:
y_pred = model.predict(X_test)

In [23]:
accuracy_score(y_pred, y_test)

0.7698001480384901